# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#A-o-C input
input/*
#A-o-C output
output/*

#rust
rust/target

# dotnet
dotnet/**/bin
dotnet/**/obj
dotnet-cache/